
version: '3'
services:
  n8n:
    image: n8nio/n8n:latest
    ports:
      - "5678:5678"
    environment:
      - N8N_BASIC_AUTH_ACTIVE=true
      - N8N_BASIC_AUTH_USER=admin
      - N8N_BASIC_AUTH_PASSWORD=Welcome123!
      - N8N_HOST=deploy-docker-n8n.onrender.com
      - N8N_PROTOCOL=https
      - N8N_PORT=443
    volumes:
      - ./n8n_data:/home/node/.n8n
